:root{
	--mainColor:#a11048;
	--secondaryColor:#800937;

	--borderColor:#161914;

	--mainText:#fff;
	--subText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(182, 46, 98, 0.8);
	--previewShadow:#520724;


	--buttonColor:#ff67a1;


}